.bg-main {
    background-color: var(--main-color);
    
}
/* header */
.header {
    text-align: center;
}
.header > img {
    display: inline-block;
    height: 30px;
    margin-bottom: 40px;
}
.header > h1 {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
}

.header > p {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    color: #555;
}
.header > .clock {
margin-bottom: 30px;
}
.header > form {
margin-bottom: 20px;
display: inline-block;
width: 100%;
}
.header .email-input {
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    line-height: 20px;
    background: transparent;
    
}
.header > form > button {
    color: white;
    background-color: #EA1D62;
    border: none;
    padding: 10px;
    margin-right: calc((100% - 80px) / 2);
    

}

/* main */
.main {
    
    /* left-column */
}
 .left-column  > p > a {
    color: #EA1D62;
    text-decoration: none;
}
.right-column  > p > a {
    color: #EA1D62;
    text-decoration: none;
}

.left-column {
    display: inline-block;
    float: left;
    width: 50%;
}
.left-column > h2 {
    margin-bottom: 20px;
}
.left-column > p {
    margin-bottom: 20px;
    color: #555;
}

/* right-column */
.right-column {
    display: inline-block;
    float: right;
    width: 40%;
    
    
}
.right-column > h2 {
    margin-bottom: 20px;
    
}
.right-column > p {
    margin-bottom: 20px;
    color: #555;
}
.right-column > form {
    display: inline-block;
    margin-bottom: 10px;
    
    

}
form > input {
    border: none;
    border-bottom: 1px solid gray;
    line-height: 30px;
}
.name-input {
    width: 45%;
}
.email-input {
    width: 45%;
    float: right;
}
.message-input {
    width: 100%;
    line-height: 55px;
    margin-top: 20px;
    
}
form > button {
    float: right;
    color: white;
    background-color: #EA1D62;
    border: none;
    padding: 10px;
    margin-top: 20px;
}

/* footer */

.footer {
    padding: 0;
    color: #fff9;
    line-height: 30px;
}
footer a {
    color: #fff;
    text-decoration: none;}
.social-row {
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    padding-top: 0px;
    }
.social-row .fa {
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
}
.social-row .fa:hover {
    background-color: #fff;
    color: #03a9f4;
}
.footer-info {
    padding: 50px;
    text-align: center;
    
}
.footer-logo {
    height: 40px;
    margin: 30px 0;
}
.footer-text{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 0 20px;
}
.footer-text > p {
    position: relative;
}

.footer-text > p::before {
    display: inline-block;
    content: '';
    width: 2px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
}
.footer-text > p:first-of-type::before {
    display: none;
}
footer > .short-row > p {
    display: inline-block;
    width: 100%;











}
@media (max-width: 900px) {
    .left-column {
        width: 100%;
        margin-bottom: 60px;
    }
    .right-column {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .footer-text {
        flex-direction: column;
    }
    .footer-text > p::before {
        display: none;
    }
}
